@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #F2DCEC, #F2BDEF);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(128, 99, 126, 0.575);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #8480F2;
    text-align: center;
    text-shadow: 1px 1px 2px #3c3a749d;
}

h2 {
    color: #AC99F2;
}

p {
    text-align: justify;
}